html, body {
  width: 100%;
  height: 100%;
  &.stars {
  	background: url("../images/distant-stars.png");
  }
  &.space-walk {
  	background: url("../images/space-walk.jpg");
    background-size: 131%;
  }
  &.moon {
  	background: url("../images/moon.jpg");
    background-size: 125%;
    background-position-y: 55%;
  }
  &.earth {
  	background: url("../images/earth.png");
    background-size: 150%;
    background-position-y: 10%;
  }
}

.vitals {
  position: absolute;
  bottom: 1px;
  left: 1px;
}

.infoBoxTopRightContainer {
  position: absolute;
  top: 1px;
  right: 1px;
}

.infoBoxBottomRightContainer {
  opacity: 0;
  position: absolute;
  bottom: 1px;
  right: 1px;
}

#vitals {
  margin: auto;
  position: relative;
  display: block;
}

#infoBoxBottomRight {
  margin: auto;
  position: relative;
  display: block;
}

#infoBoxTopRight {
  margin: auto;
  position: relative;
  display: block;
}

.status-bar {
    height: 6%;
	padding: 13px;
	background: rgb(0, 192, 255);
	background: rgba(0, 192, 255, 0.3);
	width: 80%;
    vertical-align: middle;
	p {
		color: white;
		font-size: 165%;
		margin: auto;
		padding-left: 20px;
        font-style: bold;
	}
    img {
        margin-top: -5px;
    }
}

.info-box {
	float: right;
	width: 100px; 
   	height: 100px; 
   	background: rgba(0, 192, 255, 0.3);
}

.info-box:before {
   height: 0;
   width: 40px;
   content:"";
   position: absolute; 
   border-bottom: 30px solid #00C0FF opacity 1;
   border-left: 30px solid white opacity 1; 
   border-right: 30px solid white opacity 1; 
}
.info-box:after {
   height: 0;
   width: 40px;
   content:"";
   position: absolute; 
   border-top: 30px solid #00C0FF opacity 1; 
   border-left: 30px solid white opacity 1;  
   border-right: 30px solid white opacity 1; 
   margin: 70px 0 0 0;
}

.zoomed-in-object {
  .margin-bottom: 10px;
}

.alert-info {
    display: none;
    margin-top: 10px;
}

.mini-map {
    z-index: 2;
    background: url("../images/radar.gif");
    background-size: 100%;
    border-radius: 50%;
    opacity: 0.7;
    overflow: hidden;
}

.doge-far-away-text {
    position: absolute;
    .text {
        font-size: 16px;
    }
}

.aim img {
    position: absolute;
    opacity: 0.5;
}

.location-pin {
    #mtl {
        font-size: 140%;
        p, i {
            color: #00c0ff;
        }
        i {
            font-size: 180%;
        }
        position: absolute;
        top: 92%;
        left: 35%;
    }
}

#mtl-info {
    height: 110px;
    padding-top: 13px;
    position: absolute;
    top: 85%;
    left: 45%;
    background: rgb(0, 192, 255);
    background: rgba(0, 192, 255, 0.7);
    width: 450px;
    p {
        margin-left: 50px;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
    -webkit-box-shadow:0px 0px 70px #00c0ff;
    -moz-box-shadow: 0px 0px 70px #00c0ff;
    box-shadow:0px 0px 70px #00c0ff;
    opacity: 0.9;
}
