html, body {
  width: 100%;
  height: 100%;
  &.stars {
  	background: url("../images/distant-stars.png")
  }
  &.space-walk {
  	background: url("../images/space-walk.jpg")
  }
  &.moon {
  	background: url("../images/moon.jpg")
  }
  &.earth {
  	background: url("../images/earth.png")
  }
}

.vitals {
  position: absolute;
  bottom: 1px;
  left: 1px;
}

.status-bar {
	padding: 10px;
	background: rgb(33, 101, 153);
	background: rgba(33, 101, 153, 0.7);
	margin-top: 7px;
	margin-right: 500px;
	p {
		color: white;
		font-size: 18px;
		padding-left: 20px;
	}
}


