html, body {
  width: 100%;
  height: 100%;
  &.stars {
  	background: url("../images/distant-stars.png")
  }
  &.space-walk {
  	background: url("../images/space-walk.jpg")
  }
  &.moon {
  	background: url("../images/moon.jpg")
  }
  &.earth {
  	background: url("../images/earth.png")
  }
}

.vitals {
  position: absolute;
  bottom: 1px;
  left: 1px;
}

.infoBoxTopRightContainer {
  position: absolute;
  top: 1px;
  right: 1px;
}

.infoBoxBottomRightContainer {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

#vitals {
  margin: auto;
  position: relative;
  display: block;
}

#infoBoxBottomRight {
  margin: auto;
  position: relative;
  display: block;
}

#infoBoxTopRight {
  margin: auto;
  position: relative;
  display: block;
}

.status-bar {
	padding: 13px;
	background: rgb(0, 192, 255);
	background: rgba(0, 192, 255, 0.3);
	margin-right: 500px;
	p {
		color: white;
		font-size: 24px;
		margin: auto;
		padding-left: 20px;
        vertical-align: middle;
        font-style: bold;
	}
    img {
        margin-top: -5px;
    }
}

.info-box {
	float: right;
	width: 100px; 
   	height: 100px; 
   	background: rgba(0, 192, 255, 0.3);
}

.info-box:before {
   height: 0;
   width: 40px;
   content:"";
   position: absolute; 
   border-bottom: 30px solid #00C0FF opacity 1;
   border-left: 30px solid white opacity 1; 
   border-right: 30px solid white opacity 1; 
}
.info-box:after {
   height: 0;
   width: 40px;
   content:"";
   position: absolute; 
   border-top: 30px solid #00C0FF opacity 1; 
   border-left: 30px solid white opacity 1;  
   border-right: 30px solid white opacity 1; 
   margin: 70px 0 0 0;
}

.alert-info {
    display: none;
    margin-top: 10px;
}

.doge {
    z-index: 2;
    margin-top: -420px;
    // margin-left: 50px;
}
 .doge-far-away {
    height: 200px;
    width: auto;
    margin-left: 75px;
 }

.doge-far-away-text {
    position: absolute;
    top: 330px;
    left: 150px;
    font-size: 30px;
}
