| {% load staticfiles %}
doctype html
html(lang="en")
    head
        title Spacet
        link(rel="stylesheet", type="text/css", href!='{% static "css/style.dist.css" %}')
        script(src!='{% static "js/requirements.dist.js" %}' type="text/javascript")

        | {% block body %}
        block body
            body(class="moon")
                .vitals
                    canvas(id="vitals")
                .infoBoxTopRightContainer
                    canvas(id="infoBoxTopRight", width="300px", height="300px")
                .mini-map-container
                    .mini-map
                .infoBoxBottomRightContainer
                    .zoomed-in-object
                        img(src!='{% static "images/moon-detailed.jpg" %}', style="border-radius:50%")
                    .aim
                        img(src!='{% static "images/3lines.png" %}')
                    canvas(id="infoBoxBottomRight", width="450px" ,height="350px")
                    .doge-far-away-text
                        p
                            |  Name: Moon

                        p.text
                            |  Distance: 384,400 km &amp; Circumference: 10,917 km

                        p.text
                            |  Temperature: Day 100 d C. At night, 173 d C.

                        p.text
                            |  Orbital period: 27 days

                        p.text
                            |  5th largest moon in the solar system

                .status-bar.top-bar
                    p
                        img(src!='{% static "images/location.png" %}', alt="")

                        |   30 m from ISS
                .alert-info.status-bar
                    p <strong>Chow time!</strong> Make your way to the kitchen

        | {% endblock %}
