| {% load staticfiles %}
doctype html
html(lang="en")
    head
        title Spacet
        link(rel="stylesheet", type="text/css", href!='{% static "css/style.dist.css" %}')
        script(src!='{% static "js/requirements.dist.js" %}' type="text/javascript")

        | {% block body %}
        block body
            body(class="stars")
                .vitals
                    canvas(id="vitals")
                .status-bar
                    p 30 m from ISS
                .info-box
                canvas(id="vitals")
        | {% endblock %}
