| {% load staticfiles %}
doctype html
html(lang="en")
    head
        title Spacet
        link(rel="stylesheet", type="text/css", href!='{% static "css/style.dist.css" %}')
        script(src!='{% static "js/requirements.dist.js" %}' type="text/javascript")

        | {% block body %}
        block body
            body(class="stars")
                .vitals
                    canvas(id="vitals")
                .infoBoxTopRightContainer
                    canvas(id="infoBoxTopRight")
                .infoBoxBottomRightContainer
                    canvas(id="infoBoxBottomRight")
                .status-bar.top-bar
                    p
                        img(src!='{% static "images/location.png" %}', alt="")

                        |   30 m from ISS
                .alert-info.status-bar
                    p <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        | {% endblock %}
