| {% load staticfiles %}
doctype html
html(lang="en")
    head
        title Spacet
        link(rel="stylesheet", type="text/css", href!='{% static "css/style.dist.css" %}')
        script(src!='{% static "js/requirements.dist.js" %}' type="text/javascript")

        | {% block body %}
        block body
            body(class="stars")
                .vitals
                    canvas(id="vitals")
                .infoBoxTopRightContainer
                    canvas(id="infoBoxTopRight", width="300px", height="300px")
                    img(src="http://24.media.tumblr.com/a075e0909806d87578f4f5c9a8c4cdda/tumblr_mvx66dxYMc1splfpxo1_400.gif", alt="", class="doge")
                .infoBoxBottomRightContainer
                    img(src="http://i.imgur.com/Entxsw6.jpg", class="doge-far-away")
                    canvas(id="infoBoxBottomRight", width="450px" ,height="350px")
                    .doge-far-away-text
                        p
                            |  Such awesome fact

                        p
                            |  Much to know

                        p
                            |  Very far away

                .status-bar.top-bar
                    p
                        img(src!='{% static "images/location.png" %}', alt="")

                        |   30 m from ISS
                .alert-info.status-bar
                    p <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        | {% endblock %}
