| {% load staticfiles %}
doctype html
html(lang="en")
    head
        title Spacet
        link(rel="stylesheet", type="text/css", href!='{% static "css/style.dist.css" %}')
        script(src!='{% static "js/requirements.dist.js" %}' type="text/javascript")

        | {% block body %}
        block body
            body(class="space-walk")
                .vitals
                    canvas(id="vitals")
                .infoBoxTopRightContainer
                    canvas(id="infoBoxTopRight", width="300px", height="300px")
                .mini-map-container
                    .mini-map
                .infoBoxBottomRightContainer
                    .zoomed-in-object
                        img(src="http://www.spacefacts.de/bios/portraits/astronauts/meade_ca.jpg")
                    .aim
                        img(src!='{% static "images/3lines.png" %}')
                    canvas(id="infoBoxBottomRight", width="450px" ,height="350px")
                    .doge-far-away-text
                        p
                            |  Astronaut Carl Meade

                        p.text
                            |  Located: ~150 miles above the Earth

                        p.text
                            |  Traveling Speed: ~10 Km/h (1, 0, -2)

                        p.text
                            |  Distance: 1 Km

                        p.text
                            |  Time in Space: 13 days

                .status-bar.top-bar
                    p
                        img(src!='{% static "images/location.png" %}', alt="")

                        |   30 m from ISS
                .alert-info.status-bar.emergency
                    p <strong>Emergency!</strong> Please return to the ISS

        | {% endblock %}
