| {% load staticfiles %}
doctype html
html(lang="en")
    head
        title Spacet
        link(rel="stylesheet", type="text/css", href!='{% static "css/style.dist.css" %}')
        script(src!='{% static "js/requirements.dist.js" %}' type="text/javascript")

        | {% block body %}
        block body
            body(class="earth")
                .location-pin
                    div(id="mtl")
                        i.fa.fa-map-marker
                        p
                            |   Montreal, Canada
                    div(id="mtl-info")
                        p.text
                            |  Weather: 13°C, Wind W at 3 km/h, 38% Humidity

                        p.text
                            |  Population: 1.621 million

                        p.text
                            |  Time: 6:06pm
                .vitals
                    canvas(id="vitals")
                .infoBoxTopRightContainer
                    canvas(id="infoBoxTopRight", width="300px", height="300px")
                .mini-map-container
                    .mini-map
                .infoBoxBottomRightContainer
                    .zoomed-in-object
                        img(src='http://upload.wikimedia.org/wikipedia/commons/6/6f/Earth_Eastern_Hemisphere.jpg', style="border-radius:50%")
                    .aim
                        img(src!='{% static "images/3lines.png" %}')
                    canvas(id="infoBoxBottomRight", width="450px" ,height="350px")
                    .doge-far-away-text
                        p
                            |  Aurora Borealis/Northern Lights

                        p.text
                            |  You're seeing the result of collisions between gaseous particles in the Earth's atmosphere with charged particles released from the sun's atmosphere.

                .status-bar.top-bar
                    p
                        img(src!='{% static "images/location.png" %}', alt="")

                        |   30 m from ISS
                .alert-info.status-bar
                    p <strong>Approaching home</strong> You are about to pass over your home

        | {% endblock %}
