{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spacet</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.dist.css" %}">
    <script src="{% static "js/requirements.dist.js" %}" type="text/javascript"></script>{% block body %}
    <body class="moon">
      <div class="vitals">
        <canvas id="vitals"></canvas>
      </div>
      <div class="infoBoxTopRightContainer">
        <canvas id="infoBoxTopRight" width="300px" height="300px"></canvas>
      </div>
      <div class="mini-map-container">
        <div class="mini-map"></div>
      </div>
      <div class="infoBoxBottomRightContainer">
        <div class="zoomed-in-object"><img src="{% static "images/moon-detailed.jpg" %}" style="border-radius:50%"></div>
        <div class="aim"><img src="{% static "images/3lines.png" %}"></div>
        <canvas id="infoBoxBottomRight" width="450px" height="350px"></canvas>
        <div class="doge-far-away-text">
          <p> Name: Moon</p>
          <p class="text"> Distance: 384,400 km &amp; Circumference: 10,917 km</p>
          <p class="text"> Temperature: Day 100 d C. At night, 173 d C.</p>
          <p class="text"> Orbital period: 27 days</p>
          <p class="text"> 5th largest moon in the solar system</p>
        </div>
      </div>
      <div class="status-bar top-bar">
        <p><img src="{% static "images/location.png" %}" alt="">  30 m from ISS</p>
      </div>
      <div class="alert-info status-bar">
        <p><strong>Chow time!</strong> Make your way to the kitchen</p>
      </div>
    </body>{% endblock %}
  </head>
</html>