{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spacet</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.dist.css" %}">
    <script src="{% static "js/requirements.dist.js" %}" type="text/javascript"></script>{% block body %}
    <body class="stars">
      <div class="vitals">
        <canvas id="vitals"></canvas>
      </div>
      <div class="infoBoxTopRightContainer">
        <canvas id="infoBoxTopRight" width="300px" height="300px"></canvas><img src="http://24.media.tumblr.com/a075e0909806d87578f4f5c9a8c4cdda/tumblr_mvx66dxYMc1splfpxo1_400.gif" alt="" class="mini-map">
      </div>
      <div class="infoBoxBottomRightContainer">
        <div class="zoomed-in-object"><img src="http://i.imgur.com/Entxsw6.jpg"></div>
        <canvas id="infoBoxBottomRight" width="450px" height="350px"></canvas>
        <div class="doge-far-away-text">
          <p> Such awesome fact</p>
          <p> Much to know</p>
          <p> Very far away</p>
        </div>
      </div>
      <div class="status-bar top-bar">
        <p><img src="{% static "images/location.png" %}" alt="">  30 m from ISS</p>
      </div>
      <div class="alert-info status-bar">
        <p><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</p>
      </div>
    </body>{% endblock %}
  </head>
</html>