{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spacet</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.dist.css" %}">
    <script src="{% static "js/requirements.dist.js" %}" type="text/javascript"></script>{% block body %}
    <body class="space-walk">
      <div class="vitals">
        <canvas id="vitals"></canvas>
      </div>
      <div class="infoBoxTopRightContainer">
        <canvas id="infoBoxTopRight" width="300px" height="300px"></canvas>
      </div>
      <div class="mini-map-container">
        <div class="mini-map"></div>
      </div>
      <div class="infoBoxBottomRightContainer">
        <div class="zoomed-in-object"><img src="http://www.spacefacts.de/bios/portraits/astronauts/meade_ca.jpg"></div>
        <div class="aim"><img src="{% static "images/3lines.png" %}"></div>
        <canvas id="infoBoxBottomRight" width="450px" height="350px"></canvas>
        <div class="doge-far-away-text">
          <p> Astronaut Carl Meade</p>
          <p class="text"> Located: ~150 miles above the Earth</p>
          <p class="text"> Traveling Speed: ~10 Km/h (1, 0, -2)</p>
          <p class="text"> Distance: 1 Km</p>
          <p class="text"> Time in Space: 13 days</p>
        </div>
      </div>
      <div class="status-bar top-bar">
        <p><img src="{% static "images/location.png" %}" alt="">  30 m from ISS</p>
      </div>
      <div class="alert-info status-bar emergency">
        <p><strong>Emergency!</strong> Please return to the ISS</p>
      </div>
    </body>{% endblock %}
  </head>
</html>