{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spacet</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.dist.css" %}">
    <script src="{% static "js/requirements.dist.js" %}" type="text/javascript"></script>{% block body %}
    <body class="earth">
      <div class="location-pin">
        <div id="mtl"><i class="fa fa-map-marker"></i>
          <p>  Montreal, Canada</p>
        </div>
        <div id="mtl-info">
          <p class="text"> Weather: 13°C, Wind W at 3 km/h, 38% Humidity</p>
          <p class="text"> Population: 1.621 million</p>
          <p class="text"> Time: 6:06pm</p>
        </div>
      </div>
      <div class="vitals">
        <canvas id="vitals"></canvas>
      </div>
      <div class="infoBoxTopRightContainer">
        <canvas id="infoBoxTopRight" width="300px" height="300px"></canvas>
      </div>
      <div class="mini-map-container">
        <div class="mini-map"></div>
      </div>
      <div class="infoBoxBottomRightContainer">
        <div class="zoomed-in-object"><img src="http://upload.wikimedia.org/wikipedia/commons/6/6f/Earth_Eastern_Hemisphere.jpg" style="border-radius:50%"></div>
        <div class="aim"><img src="{% static "images/3lines.png" %}"></div>
        <canvas id="infoBoxBottomRight" width="450px" height="350px"></canvas>
        <div class="doge-far-away-text">
          <p> Aurora Borealis/Northern Lights</p>
          <p class="text"> You're seeing the result of collisions between gaseous particles in the Earth's atmosphere with charged particles released from the sun's atmosphere.</p>
        </div>
      </div>
      <div class="status-bar top-bar">
        <p><img src="{% static "images/location.png" %}" alt="">  30 m from ISS</p>
      </div>
      <div class="alert-info status-bar">
        <p><strong>Approaching home</strong> You are about to pass over your home</p>
      </div>
    </body>{% endblock %}
  </head>
</html>