{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spacet</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.dist.css" %}">
    <script src="{% static "js/requirements.dist.js" %}" type="text/javascript"></script>{% block body %}
    <body class="stars">
      <div class="vitals">
        <canvas id="vitals"></canvas>
      </div>
      <div class="infoBoxTopRightContainer">
        <canvas id="infoBoxTopRight"></canvas>
      </div>
      <div class="infoBoxBottomRightContainer">
        <canvas id="infoBoxBottomRight"></canvas>
      </div>
      <div class="status-bar">
        <p><img src="{% static "images/location.png" %}" alt="">  30 m from ISS</p>
      </div>
    </body>{% endblock %}
  </head>
</html>